<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Sign up</h1>
<form action="/signup" method="post">
	<input type="text" name="name" placeholder="Name">
	<input type="text" name="email" placeholder="Email">
	<input type="text" name="username" placeholder="Username">
	<input type="text" name="password" placeholder="Password">
	<input type="submit" name="signup" value="Sign up">
</form>
</body>
</html>